<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a routerLink="/books" style="color: black;">OpenBook</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="books" routerLinkActive="active" (click)="setTitle('Livres - OpenBook')">Livres</a>
      <a class="p-2 text-dark" routerLink="authors" routerLinkActive="active" (click)="setTitle('Auteurs - OpenBook')">Auteurs</a>
      <a class="p-2 text-dark" routerLink="auth/signin" routerLinkActive="active" *ngIf="!isAuth" (click)="setTitle('Se connecter - OpenBook')">Se connecter</a>
      <a class="p-2 text-dark" (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;">Se déconnecter</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="auth/signup" routerLinkActive="active" *ngIf="!isAuth" (click)="setTitle('S\'inscrire - OpenBook')">S'inscrire</a>
</div>
