<div class="row">
  <div class="col-sm-8">
    <h1>{{ book.title }}</h1>
    <h3 *ngIf="book.subtitle">{{ book.subtitle }}</h3>
    <h6 *ngIf="book.originalTitle"><em>{{ book.originalTitle }}</em></h6>
    <h3>
      <span *ngIf="book.authors">
        <span *ngFor="let author of book.authors; let i = index;"><span *ngIf="i > 0">, </span><a routerLink="/authors/{{ author.id }}">{{ author.name }}</a></span>
        <span *ngIf="book.publicationYear"> ({{ book.publicationYear }})</span>
      </span>
      <span *ngIf="!book.authors && book.publicationYear">{{ book.publicationYear }}</span>
    </h3>
    <h5 *ngIf="book.genre">{{ book.genre.name }}</h5>
    <p *ngIf="book.summary">{{ book.summary }}</p>
    <button type="button" class="btn btn-primary" (click)="onBack()">Retour</button>
    <p></p>
  </div>

  <div class="col-sm-4">
    <div style="text-align: center;">
      <img class="img-fluid rounded" style="max-width: 80%;" [src]="book.picture" *ngIf="book.picture" [title]="book.title">
    </div>
  </div>
</div>
