<div class="row">
  <div class="col-sm-8">
    <h2>Enregistrer un nouveau livre</h2>

    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">

      <div class="form-group">
        <label for="title">
          Titre
        </label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">
          Auteur
        </label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>
      <div class="form-group">
        <label for="publicationYear">
          Année de parution (facultatif)
        </label>
        <input type="text" class="form-control" id="publicationYear" formControlName="publicationYear">
      </div>
      <div class="form-group">
        <label for="description">
          Description (facultatif)
        </label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="file">
          Ajouter une photo (facultatif)
        </label>
        <input id="file" type="file" class="form-control" (change)="detectFiles($event)" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé</p>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="bookForm.invalid || fileIsUploading">Enregistrer</button>
    </form>
  </div>
</div>
